/* general styling */
body {
  /* background: url("/images/newspapers.jpg") center fixed no-repeat; */
  background: url("/images/city-buildings.jpg") center fixed no-repeat;
  background-size: cover;
}

div.container {
  width: 85%;
}

/* main page card styling  */
div.card-content {
  height: 230px;
}

div.card-content {
  overflow: scroll;
}

i.save {
  cursor: pointer;
}

i.unlocked {
  color: #b0bec5;
}

i.locked {
  color: #eceff1;
}

i.save:hover {
  color: #cfd8dc;
}

/* modal styling  */
small.modalHelp {
  display: none;
}