@import url('https://fonts.googleapis.com/css?family=Fira+Code|Staatliches&display=swap');
/* font-family: 'Staatliches', cursive; */
/* font-family: 'Fira Code', monospace; */

/* general styling */

body {
  background-color: #90a4ae;
  background: url("/images/city-buildings.jpg") center center no-repeat fixed;
  background-size: cover;
  font-family: 'Fira Code', monospace;
  height: 100vh;
}

h1, h4, h5, span.card-title {
  font-family: 'Staatliches', cursive;
}

/* drop down styling */

ul.dropdown-content {
  background-color: #90a4ae;
}

ul.dropdown-content li>a {
  color: #000000;
}

ul.dropdown-content li:hover {
  background-color: #78909c;
}

/* main page card styling  */

span.card-title {
  letter-spacing: 1.5px;
}

div.card-content {
  height: 230px;
}

div.card-content, div.card-action {
  overflow: scroll;
}

i.save {
  cursor: pointer;
}

i.unlocked {
  color: #90a4ae;
}

i.locked {
  color: #bbdefb
}

i.save:hover {
  color: #cfd8dc;
}

i.delNote {
  cursor: pointer;
}

/* modal styling  */

small.modalHelp {
  display: none;
}

h4.newNote {
  margin-top: 2rem;
}

div.note {
  margin: 1rem 0;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
}

p.noteBody {
  margin-bottom: 2rem;
}

/* label underline focus color */

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #b0bec5;
  box-shadow: 0 1px 0 0 #90a4ae;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {

  color: #b0bec5;

}


@media screen and (max-width: 746px) {

  body {
    background: url("/images/portrait-buildings.jpg") center center no-repeat fixed;
    background-size: cover;
  }

  div.card-action {
    height: 75px;
  }

}